name: "CI"
on:
  pull_request:
  push:
    paths-ignore:
    - '**.md'
    - '**.org'
    - '.dir-locals.el'
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        emacs_version: [23.4, 24.1, 24.2, 24.3, 24.4, 24.5, 25.1, 25.2, 25.3, 26.1, 26.2, 26.3, 27.1, 27.2, snapshot]
        exclude:
          - os: macos-latest
            emacs_version: 23.4
          - os: macos-latest
            emacs_version: 24.1
          - os: macos-latest
            emacs_version: 24.2

    steps:
    - uses: actions/checkout@v2

    - run: npm ci
    - run: npm run build
    - uses: ./
      with:
        version: ${{ matrix.emacs_version }}
    - name: Check emacs version
      run: emacs --version
    - name: Check nix tools visible
      run: "nix-shell -p cowsay --run 'cowsay hello'"
